@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cinzel:wght@400;500;600;700;800;900&family=Poller+One&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
        
            font-family: 'Raleway', sans-serif;
}

.mobile-menu {
        left: -200%;
        transition: 0.5s;
      }
      
      .mobile-menu.active {
       left: 0;
      }
      
      .mobile-menu ul li ul {
        display: none;
      }
      
       .mobile-menu ul li:hover ul {
        display: block;
      }

.Nav-button {
        
        font-size: 20px;

        background: linear-gradient(90deg, #2D3FFB 0%, #B106FA 70.83%);
        border-radius: 5px;
        /* font-family: 'Poppins'; */
        font-style: normal;
        /* font-weight: 600; */
        padding: 10px 40px;
        transition: 0.2s;
}

.Nav-button:hover {
        
background: linear-gradient(90deg, #B106FA 0%, #2D3FFB 70.83%);
   animation: gradient 15s ease infinite; 
   letter-spacing: 1px;

}

.Nav-avatar {
        width: 40px;
        height: 40px;
}



.nav-lisa {

        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 30px;
        /* identical to box height */

        letter-spacing: 0.035em;

        color: rgba(255, 255, 255, 0.7);
        transition: 0.15s;

}
.nav-lisa:hover {

        border-bottom: 3px solid #B106F9;
        /* line-height: 2px; */
        padding-bottom: 4px;
        color: white;
        transition: 0.15s;

}

.active-nav-lisa {
        border-bottom: 3px solid #B106F9;
        /* line-height: 2px; */
        padding-bottom: 4px;
        color: white;
}
.nav-header {
        /* border-bottom: 1px solid rgba(255, 255, 255, 0.3); */
        font-family: 'Raleway', sans-serif;
}
.main-main-in {
        /* height: 600px; */
         /* background: linear-gradient(62deg, #B106FA, #E73C7E, #23A6D5, #2D3FFB);
           animation: gradient 15s ease infinite; 
            background-size: 400% 400%; */
            display: flex;
            justify-content: space-around;
            /* font-family: 'Anton', sans-serif; */
            font-family: 'Cinzel', serif;
            /* font-family: 'Poller One', cursive; */
            /* font-family: 'Raleway', sans-serif; */
        
      }
.main-main span {
        color: #BD00FF;
}
.shade-white {
        color: rgba(255, 255, 255, 0.7);
}
      /* @-webkit-keyframes gradient{
        0% {
          background-position: 0 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
           background-position: 0% 50%;
        }
      }
      @keyframes gradient{
        0% {
          background-position: 0 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
           background-position: 0% 50%;
        }
      } */
.nav-landingside-1 img {
        border-top-left-radius: 150px 150px;
}
.nav-landingside-2 img {
        border-top-right-radius: 150px 150px;
        border-bottom-left-radius: 150px 150px;
}
.nav-landingside-3 img {
        border-top-right-radius: 150px 150px;
        border-bottom-left-radius: 150px 150px;
}
.nav-landingside-4 img {
        border-bottom-right-radius: 150px 150px;
}
.main-main .Nav-button {
        padding: 15px 40px;
        margin-top: 30px;
}






.ul-main {
        overflow-x: auto;
        
}
.ul-main::-webkit-scrollbar {
        display: none;
      }
.main-main2 ul {
        display: flex;
        /* justify-content: center; */
    align-items: center;
        width: 2000px;
        overflow: auto;
        height: 100px;
}

.main-main2 ul li a{
        /* background-color: rgba(39, 47, 176, 0.6); */
        border: 1px solid rgba(255, 255, 255, .15);
        padding: 15px 70px;
        margin: 10px 30px 10px 30px;

        font-style: normal;
        font-weight: 600;
        font-size: 23px;
        line-height: 44px;
        /* identical to box height */

        letter-spacing: 0.035em;
        transition: 0.15s;
}
.main-main2 ul li a:hover {
        background: linear-gradient(90deg, #3B39FB 0%, #B106F9 76.56%); 
        letter-spacing: 2px;
        border: none;

}

.main-main2 ul li .active { 
        background: linear-gradient(90deg, #3B39FB 0%, #B106F9 76.56%);
        border: none;

}
.main-content {
        display: flex;
        width: 2000px;
        overflow: auto;
        
}

.main-content::-webkit-scrollbar {
        display: none;
      }

.main-content-box {
        height: 550px;
        width: 400px;
        /* background: rgba(71, 52, 251, 0.7);; */
        /* padding: 15px; */
        border: 3px solid #B106F9;
        position: relative;
        
}
.main-content-box p {
        color: rgba(255, 255, 255, 0.7);
}
.main-content-box button {
        /* position: absolute;
        bottom: 0; */
        /* left:50%; */
        
        background: #B106F9;
        border-radius: 5px;
        margin: auto;
        display: flex;
        justify-content: center;
        padding: 20px 35px 20px 35px;
        line-height: 1.1em;
        box-shadow: 1px 2px 4px black;
        
}
.main-content-box button span{
        line-height: 1rem;
}




.main-main3 {
        /* height: 600px; */
        background-color: rgba(39, 47, 176, 0.6);
        /* padding: 10px; */
}
.main-main3 p {
        color: rgba(255, 255, 255, 0.7);

}
.main-main3 span {
        color: #B106F9;
}
.main-main3 div div:nth-of-type(2) img {
        border: 3px solid #B106F9;
}


/* loading animation */

.loading .image {
  /* background-color: #ededed; */
  background: 
  linear-gradient(    100deg,    rgba(255, 255, 255, 0) 40%,    rgba(255, 255, 255, .7) 50%,    rgba(255, 255, 255, 0) 60%  ) #02244b;
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 0.8s loading ease-in-out infinite;
}

@keyframes loading {
  to {
    background-position-x: -20%;
  }
}


.main-main4 span {
        color: #B106F9;
}
.main-main4 p {
        color: rgba(255, 255, 255, 0.7);

}

.main-main4-div1 {
        box-sizing: border-box;
        width: 509px;
        height: 458px;

        background: #D9D9D9;
        border-radius: 5px;
}
.main-main4-div2 {
        width: 437px;
        height: 64px;
        left: 50px;
        top: 3674px;
        background: 
        linear-gradient(    100deg,    rgba(255, 255, 255, 0) 40%,    rgba(255, 255, 255, .7) 50%,    rgba(255, 255, 255, 0) 60%  ) #02244b;
        background-size: 200% 100%;
        background-position-x: 180%;
        animation: 0.8s loading ease-in-out infinite;
}
.main-main4-div3 {
        width: 359px;
        height: 64px;
        background: #D9D9D9;
}
.main-main4-contain {
        display: flex;
        /* width: 2000px; */
}
.main-main4-overflow {
        overflow: auto;
}

.main-main4-overflow::-webkit-scrollbar {
        display: none;
      }

.under_musical {    

        clip-path: polygon(100% 34%, 32% 65%, 0 31%, 0 25%, 32% 60%, 100% 30%);
        background: linear-gradient(90.07deg, #4236FB -2.73%, #B106F9 90.5%);
        width: 270.51px;
        height: 48.24px;
        margin: auto;


}


.footer {
        background-color: #050914;
}
.footerin2 p, ul {
        color: rgba(255, 255, 255, 0.7);
}

.bottom-footer {
        background: linear-gradient(90deg, #050914 0%, #AE06F6 50.52%, rgba(177, 6, 249, 0) 95.31%);
        padding: 20px 0 20px 0;
}

.second_grid_adjustment {
        display: flex;
}
.second_grid_adjustment div:nth-of-type(1) {
        width: 50%;
}




.image-header {
        width: 50px;
}


.submenu_link {
        color: #011a39;

}


/* media queries */


@media screen and (max-width: 780px) {
        
        .main-content {
                width: 1000px;
        }
        .main-main4-div1 {
                width: 250px;
                height: 230px;
        }
        .main-main4-div2 {
                width: 218px;
                height: 32px;
        }
        .main-main4-div3 {
                width: 180px;
                height: 32px;
        }
        
        .second_grid_adjustment {
                flex-direction: column-reverse;
        }
        .second_grid_adjustment div:nth-of-type(1) {
                width: 100%;
        }
        .main-content-box {
                height: 442px;
                width: 243px;
        }

        .main-main2 ul li a {
                padding: 10px 46px;
                margin: 10px 15px 10px 15px;
                font-size: 20px;
            }
            .main-main2 ul {
                width: 1300px;
            }
        
        .main-main-in {

                flex-direction: column-reverse;
        
        }
        .image-header {
                width: 40px;
        }
        
        .under_musical {    

                width: 208.51px;

        }

}