.mobile-menu {
        left: -200%;
        transition: 0.5s;
      }
      
      .mobile-menu.active {
       left: 0;
      }
      
      .mobile-menu ul li ul {
        display: none;
      }
      
       .mobile-menu ul li:hover ul {
        display: block;
      }

.Nav-button {
        
font-size: 20px;

background: linear-gradient(90deg, #2D3FFB 0%, #B106FA 70.83%);
border-radius: 5px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
padding: 10px 40px;
transition: 0.2s;
}

.Nav-button:hover {
        
background: linear-gradient(90deg, #B106FA 0%, #2D3FFB 70.83%);
   animation: gradient 15s ease infinite; 
   letter-spacing: 1px;

}

.Nav-avatar {
        width: 40px;
        height: 40px;
}



.nav-lisa {

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        /* identical to box height */

        letter-spacing: 0.035em;

        color: rgba(255, 255, 255, 0.7);

}

.active-nav-lisa {
        border-bottom: 3px solid #B106F9;
        /* line-height: 2px; */
        padding-bottom: 4px;
        color: white;
}
.nav-header {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.main-main {
        height: 600px;
         /* background: linear-gradient(62deg, #B106FA, #E73C7E, #23A6D5, #2D3FFB);
           animation: gradient 15s ease infinite; 
            background-size: 400% 400%; */
        
      }
.main-main span {
        color: #BD00FF;
}
.shade-white {
        color: rgba(255, 255, 255, 0.7);
}
      /* @-webkit-keyframes gradient{
        0% {
          background-position: 0 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
           background-position: 0% 50%;
        }
      }
      @keyframes gradient{
        0% {
          background-position: 0 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
           background-position: 0% 50%;
        }
      } */
.nav-landingside-1 img {
        border-top-left-radius: 150px 150px;
}
.nav-landingside-2 img {
        border-top-right-radius: 150px 150px;
        border-bottom-left-radius: 150px 150px;
}
.nav-landingside-3 img {
        border-top-right-radius: 150px 150px;
        border-bottom-left-radius: 150px 150px;
}
.nav-landingside-4 img {
        border-bottom-right-radius: 150px 150px;
}
.main-main .Nav-button {
        padding: 15px 40px;
        margin-top: 30px;
}