
.slideDown{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	

	visibility: visible !important;						
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(8%);
	}
	65%{
		transform: translateY(-4%);
	}
	80%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(-2%);
	}			
	100% {
		transform: translateY(0%);
	}		
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
	}
	50%{
		-webkit-transform: translateY(8%);
	}
	65%{
		-webkit-transform: translateY(-4%);
	}
	80%{
		-webkit-transform: translateY(4%);
	}
	95%{
		-webkit-transform: translateY(-2%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}


.main__bg__cover {
	position: relative;
}
.main__bg {
	background-image: linear-gradient(-60deg, #000 50%, #082140 50%);
	animation: slide 3s ease-in-out infinite alternate;
	position: absolute;
	top:0%;
	bottom: 0;
	left: -50%;
	right: -50%;
	opacity: 0.5;
	z-index: -1;
	height: 600px;
    }
    .layer1 {
	animation-direction: alternate-reverse;
	animation-duration: 4s;
    }
    .layer2 {
	animation-duration: 5s;
    }
    @keyframes slide {
	0% {
	    transform: translateX(-25%);
	}
	100% {
	    transform: translateX(25%);
	}
 }